/* General page styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #f4f7fa;
  color: #333;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

/* Navbar styles */
.navbar {
  background-color: #3498db; /* Blue shade that matches button colors */
  padding: 10px 20px;
  padding-right: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  color: white;
  width: 100%;
  height: 60px;
}

.sign-in-container button {
  margin: 10px;
}

.navbar a {
  color: white; /* Ensures links are white */
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #e0e0e0; /* Light grey for hover effect */
}

/* Specific styling for Clerk's UserButton if needed */
.clerk-user-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.clerk-user-button:hover {
  color: #e0e0e0; /* Consistency in hover effects */
}

body {
  background-image: url("/client/public/bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid #3498db;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: #3498db;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.btn:hover {
  color: #3498db;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}
